body{

    background-color: yellow;

}

h1{

    color: brown;

}

h2 {

    color: blue;
}


div{
    width: 800px;
    height: 400px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom-right-radius: 100px;
    
}
button{
    background-color: aqua;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

img{
    width: 70px;
    height: 50px;
}

input{
    width: 100px;
    height: 20px;
}

@media screen and (min-width:768px) and (max-width:1199px){
    body{

        background-color: yellow;
    
    }
    
    h1{
    
        color: brown;
    
    }
    
    h2 {
    
        color: blue;
    }
    
    
    div{
        width: 700px;
        height: 300px ;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-bottom-right-radius: 100px;
        
    }
    button{
        background-color: aqua;
        border-radius: 20px;
    }
    a{
        text-decoration: none;
    }
    
    img{
        width: 70px;
        height: 50px;
    }
    
    input{
        width: 100px;
        height: 20px;
    }
    
}

@media screen and (min-width:425px) and (max-width:767px){
    

    body{

        background-color: blue;
    
    }
    
    h1{
    
        color: brown;
    
    }
    
    h2 {
    
        color: blue;
    }
    
    
    div{
        width: 600px;
        height: 200px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-bottom-right-radius: 100px;
        
    }
    button{
        background-color: aqua;
        border-radius: 20px;
    }
    
    a{
        text-decoration: none;
    }
    
    img{
        width: 70px;
        height: 50px;
    }
    
    input{
        width: 100px;
        height: 20px;
    }
    
}

@media screen and (min-width:375px) and (max-width:424px){
    body{

        background-color: green;
    
    }
    
    h1{
    
        color: brown;
    
    }
    
    h2 {
    
        color: blue;
    }
    
    
    div{
        width: 500px;
        height: 100px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-bottom-right-radius: 100px;
        
    }
    button{
        background-color: aqua;
        border-radius: 20px;
    }
    
    a{
        text-decoration: none;
    }
    
    img{
        width: 70px;
        height: 50px;
    }
    
    input{
        width: 100px;
        height: 20px;
    }
    
}

@media screen and (min-width:320px) and (max-width:374px){
    body{

        background-color: yellow;
    
    }
    
    h1{
    
        color: brown;
    
    }
    
    h2 {
    
        color: blue;
    }
    
    
    div{
        width: 400px;
        height: 90px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-bottom-right-radius: 100px;
        
    }
    button{
        background-color: aqua;
        border-radius: 20px;
    }
    
    a{
        text-decoration: none;
    }
    
    img{
        width: 70px;
        height: 50px;
    }
    
    input{
        width: 100px;
        height: 20px;
    }
    
}













